Repository atirnayab/test-mono-repo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-app1, run-app2

dummy commit
  packages/app1/README.md
Due: run-setup=false, run-app1

config updated
  .circleci/config.yml
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy
  .circleci/config.yml
  README.md
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy
  .circleci/config.yml
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy
  .circleci/config.yml
  packages/app1/app/page.tsx
Due: run-setup=false, run-app1

dummy
  packages/app1/app/page.tsx
Due: run-setup=false, run-app1

dummy2
  .circleci/config.yml
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy2
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy3
  packages/app1/README.md
Due: run-setup=false, run-app1

dummy4
  .circleci/config.yml
  packages/app1/app/page.tsx
Due: run-setup=false, run-app1

dummy4
  packages/app1/app/page.tsx
Due: run-setup=false, run-app1

both modified
  packages/app1/app/page.tsx
  packages/app2/src/app/page.tsx
Due: run-setup=false, run-app1, run-app2

both modified 22
  .circleci/config.yml
  packages/app2/src/app/page.tsx
Due: run-setup=false, run-app2

both modified 22
  packages/app1/app/page.tsx
  packages/app2/src/app/page.tsx
Due: run-setup=false, run-app1, run-app2

config updated
  .circleci/config.yml
  .yarn/cache/cliui-npm-8.0.1-3b029092cf-79648b3b00.zip
  .yarn/cache/concurrently-npm-8.2.2-8ae42f052b-8ac774df06.zip
  .yarn/cache/date-fns-npm-2.30.0-895c790e0f-f7be015232.zip
  .yarn/cache/get-caller-file-npm-2.0.5-80e8a86305-b9769a836d.zip
  .yarn/cache/lodash-npm-4.17.21-6382451519-eb835a2e51.zip
  .yarn/cache/require-directory-npm-2.1.1-8608aee50b-fb47e70bf0.zip
  .yarn/cache/rxjs-npm-7.8.1-41c443a75b-de4b53db10.zip
  .yarn/cache/shell-quote-npm-1.8.1-fcccf06093-5f01201f4e.zip
  .yarn/cache/spawn-command-npm-0.0.2-014d4d5d9f-e35c5d2817.zip
  .yarn/cache/supports-color-npm-8.1.1-289e937149-c052193a7e.zip
  .yarn/cache/tree-kill-npm-1.2.2-3da0e5a759-49117f5f41.zip
  .yarn/cache/y18n-npm-5.0.8-5f3a0a7e62-54f0fb9562.zip
  .yarn/cache/yargs-npm-17.7.2-80b62638e1-73b572e863.zip
  .yarn/cache/yargs-parser-npm-21.1.1-8fdc003314-ed2d96a616.zip
  package.json
  yarn.lock
Due: run-setup=false

dummy
  .circleci/config.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-app1: any of: packages/app1/.*
  run-app2: any of: packages/app2/.*
